@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 5px;
opacity: 0.5;
}

/* Track */
::-webkit-scrollbar-track {
 
  border-radius: 20px;

 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242525;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3333;
}
